In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import spacy
import re
from spacytextblob.spacytextblob import SpacyTextBlob
from tqdm import tqdm
from tqdm.auto import tqdm 

plt.rcParams["figure.figsize"] = (12,8)
tqdm.pandas()

In [19]:
tweet_data = pd.read_csv('Data/sentiment_analysed.csv')
tweet_data = tweet_data.drop(columns=['Unnamed: 0','Haiti Mentioned','Chile Mentioned','Pray Mentioned','Donate Mentioned'])
tweet_data

,User ID,Tweet ID,Text,Date,lat,lon,Date Only,Sentiment,Subjectivity
0,22077441,9807469480,Planet earth is truely amazing!!! I love watch...,2010-02-28 21:25:41,43.009815,-83.710408,2010-02-28,0.854167,0.833333
1,22077441,9805735171,Aww I want someone to say this to me one day :...,2010-02-28 20:44:41,43.009815,-83.710408,2010-02-28,0.211111,0.688889
2,22077441,9800834089,I love these cheetoes commercials!! Too funny...,2010-02-28 18:43:00,43.009815,-83.710408,2010-02-28,0.515625,0.800000
3,22077441,9797095168,Aww my lil sis got her first pattern so she ca...,2010-02-28 17:09:03,43.009815,-83.710408,2010-02-28,0.262500,0.583333
4,22077441,9796762943,I HATE being sick.. It sucks all of the energy...,2010-02-28 17:02:09,43.009815,-83.710408,2010-02-28,-0.604762,0.685714
...,...,...,...,...,...,...,...,...,...
2450509,73016661,8082730603,@NYCsocialit3 nun u,2010-01-22 14:14:30,40.627262,-73.926384,2010-01-22,0.000000,0.000000
2450510,73016661,8081316956,RT @BonesThisWorld: A trip too harlem for a fe...,2010-01-22 13:28:51,40.627262,-73.926384,2010-01-22,-0.200000,0.100000
2450511,73016661,8076088351,@Uniquehope was good,2010-01-22 10:53:13,40.627262,-73.926384,2010-01-22,0.700000,0.600000
2450512,73016661,8075627082,@DaStar6MFM lmaooo yea dat shit is crazy,2010-01-22 10:40:05,40.627262,-73.926384,2010-01-22,-0.400000,0.850000
2450513,73016661,8075339471,@RichKidLife lol I feel u,2010-01-22 10:31:59,40.627262,-73.926384,2010-01-22,0.800000,0.700000

In [20]:
tweet_data = tweet_data.reindex(columns=['User ID','Tweet ID','Text','Date Only','Date','lat','lon','Sentiment','Subjectivity'])
tweet_data

,User ID,Tweet ID,Text,Date Only,Date,lat,lon,Sentiment,Subjectivity
0,22077441,9807469480,Planet earth is truely amazing!!! I love watch...,2010-02-28,2010-02-28 21:25:41,43.009815,-83.710408,0.854167,0.833333
1,22077441,9805735171,Aww I want someone to say this to me one day :...,2010-02-28,2010-02-28 20:44:41,43.009815,-83.710408,0.211111,0.688889
2,22077441,9800834089,I love these cheetoes commercials!! Too funny...,2010-02-28,2010-02-28 18:43:00,43.009815,-83.710408,0.515625,0.800000
3,22077441,9797095168,Aww my lil sis got her first pattern so she ca...,2010-02-28,2010-02-28 17:09:03,43.009815,-83.710408,0.262500,0.583333
4,22077441,9796762943,I HATE being sick.. It sucks all of the energy...,2010-02-28,2010-02-28 17:02:09,43.009815,-83.710408,-0.604762,0.685714
...,...,...,...,...,...,...,...,...,...
2450509,73016661,8082730603,@NYCsocialit3 nun u,2010-01-22,2010-01-22 14:14:30,40.627262,-73.926384,0.000000,0.000000
2450510,73016661,8081316956,RT @BonesThisWorld: A trip too harlem for a fe...,2010-01-22,2010-01-22 13:28:51,40.627262,-73.926384,-0.200000,0.100000
2450511,73016661,8076088351,@Uniquehope was good,2010-01-22,2010-01-22 10:53:13,40.627262,-73.926384,0.700000,0.600000
2450512,73016661,8075627082,@DaStar6MFM lmaooo yea dat shit is crazy,2010-01-22,2010-01-22 10:40:05,40.627262,-73.926384,-0.400000,0.850000
2450513,73016661,8075339471,@RichKidLife lol I feel u,2010-01-22,2010-01-22 10:31:59,40.627262,-73.926384,0.800000,0.700000

In [21]:
tweet_data['Haiti Mentioned'] = tweet_data['Text'].str.count(r'Haiti|haiti')
tweet_data['Chile Mentioned'] = tweet_data['Text'].str.count(r'Chile|chile')
tweet_data['Pray Mentioned'] = tweet_data['Text'].str.count(r'Pray|pray')
tweet_data['Donate Mentioned'] = tweet_data['Text'].str.count(r'Donat|donat')
tweet_data['Obama Mentioned'] = tweet_data['Text'].str.count(r'[Oo]bama')
tweet_data['US Mentioned'] = tweet_data['Text'].str.count(r'US|USA|America')

In [22]:
tweet_data['Thoughts and Prayers'] = tweet_data['Text'].str.count(r'[Tt]houghts and [Pp]rayers')

In [29]:
tweet_data['Is Retweet'] = tweet_data['Text'].str.count(r'^RT')
tweet_data['Is Reply'] = tweet_data['Text'].str.count(r'^@')
tweet_data['Directed ats'] = tweet_data['Text'].str.count(r'@')
tweet_data['Hashtags Used'] = tweet_data['Text'].str.count(r'#')

In [30]:
tweet_data

,User ID,Tweet ID,Text,Date Only,Date,lat,lon,Sentiment,Subjectivity,Haiti Mentioned,...,Pray Mentioned,Donate Mentioned,Obama Mentioned,US Mentioned,Thoughts and Prayers,Is Retweet,Is Reply,Is Directed,Hashtags Used,Directed ats
0,22077441,9807469480,Planet earth is truely amazing!!! I love watch...,2010-02-28,2010-02-28 21:25:41,43.009815,-83.710408,0.854167,0.833333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
1,22077441,9805735171,Aww I want someone to say this to me one day :...,2010-02-28,2010-02-28 20:44:41,43.009815,-83.710408,0.211111,0.688889,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,1.0
2,22077441,9800834089,I love these cheetoes commercials!! Too funny...,2010-02-28,2010-02-28 18:43:00,43.009815,-83.710408,0.515625,0.800000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
3,22077441,9797095168,Aww my lil sis got her first pattern so she ca...,2010-02-28,2010-02-28 17:09:03,43.009815,-83.710408,0.262500,0.583333,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
4,22077441,9796762943,I HATE being sick.. It sucks all of the energy...,2010-02-28,2010-02-28 17:02:09,43.009815,-83.710408,-0.604762,0.685714,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450509,73016661,8082730603,@NYCsocialit3 nun u,2010-01-22,2010-01-22 14:14:30,40.627262,-73.926384,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0
2450510,73016661,8081316956,RT @BonesThisWorld: A trip too harlem for a fe...,2010-01-22,2010-01-22 13:28:51,40.627262,-73.926384,-0.200000,0.100000,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,True,0.0,1.0
2450511,73016661,8076088351,@Uniquehope was good,2010-01-22,2010-01-22 10:53:13,40.627262,-73.926384,0.700000,0.600000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0
2450512,73016661,8075627082,@DaStar6MFM lmaooo yea dat shit is crazy,2010-01-22,2010-01-22 10:40:05,40.627262,-73.926384,-0.400000,0.850000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0
2450513,73016661,8075339471,@RichKidLife lol I feel u,2010-01-22,2010-01-22 10:31:59,40.627262,-73.926384,0.800000,0.700000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0

In [31]:
tweet_data.to_csv('Data/tweet_data.csv')

In [40]:
data_to_agg = tweet_data.drop(columns=['Tweet ID', 'Text', 'Date', 'Date Only', 'lat','lon'])
data_to_agg

,User ID,Sentiment,Subjectivity,Haiti Mentioned,Chile Mentioned,Pray Mentioned,Donate Mentioned,Obama Mentioned,US Mentioned,Thoughts and Prayers,Is Retweet,Is Reply,Is Directed,Hashtags Used,Directed ats
0,22077441,0.854167,0.833333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
1,22077441,0.211111,0.688889,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,True,0.0,1.0
2,22077441,0.515625,0.800000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
3,22077441,0.262500,0.583333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
4,22077441,-0.604762,0.685714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2450509,73016661,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0
2450510,73016661,-0.200000,0.100000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,True,0.0,1.0
2450511,73016661,0.700000,0.600000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0
2450512,73016661,-0.400000,0.850000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0
2450513,73016661,0.800000,0.700000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,True,0.0,1.0

In [55]:
user_tweet_count = data_to_agg.groupby('User ID').size()
user_tweet_count.name = "Tweet Count"
user_tweet_count

User ID
6118         105
64743         67
82793        502
608703       314
677073       355
            ...
101273811    920
102634808    674
103497121    854
103945034    885
103963387    967
Name: Tweet Count, Length: 5015, dtype: int64

In [47]:
user_mentioned_counts = data_to_agg.drop(columns=['Subjectivity', 'Sentiment']).groupby('User ID').sum()
user_mentioned_counts

,Haiti Mentioned,Chile Mentioned,Pray Mentioned,Donate Mentioned,Obama Mentioned,US Mentioned,Thoughts and Prayers,Is Retweet,Is Reply,Is Directed,Hashtags Used,Directed ats
User ID,,,,,,,,,,,,
6118,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,28.0,50,34.0,52.0
64743,3.0,0.0,0.0,2.0,0.0,1.0,0.0,4.0,17.0,23,12.0,27.0
82793,0.0,0.0,2.0,1.0,1.0,5.0,0.0,9.0,203.0,236,23.0,254.0
608703,1.0,0.0,0.0,0.0,0.0,2.0,0.0,75.0,94.0,221,122.0,273.0
677073,6.0,0.0,1.0,2.0,4.0,7.0,0.0,6.0,98.0,104,18.0,109.0
...,...,...,...,...,...,...,...,...,...,...,...,...
101273811,2.0,0.0,3.0,2.0,0.0,5.0,0.0,7.0,602.0,617,63.0,629.0
102634808,0.0,4.0,4.0,0.0,0.0,1.0,0.0,62.0,517.0,614,48.0,775.0
103497121,1.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,770.0,804,41.0,827.0
103945034,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,694.0,735,6.0,800.0
103963387,6.0,0.0,1.0,0.0,0.0,4.0,0.0,101.0,402.0,513,93.0,601.0

In [50]:
user_sentiment_avg = data_to_agg.groupby("User ID")[['Sentiment','Subjectivity']].mean()
user_sentiment_avg

           Sentiment  Subjectivity
User ID
6118        0.091338      0.309708
64743       0.149390      0.338032
82793       0.107796      0.405523
608703      0.157080      0.379523
677073      0.037798      0.366248
...              ...           ...
101273811   0.176326      0.397676
102634808   0.256659      0.572533
103497121   0.249488      0.636456
103945034   0.121586      0.369733
103963387   0.164525      0.387636

[5015 rows x 2 columns]

In [56]:
all_user_data = user_sentiment_avg.merge(user_mentioned_counts, left_on='User ID', right_on='User ID')
all_user_data = all_user_data.merge(user_tweet_count, left_on='User ID', right_on='User ID')
all_user_data

,Sentiment,Subjectivity,Haiti Mentioned,Chile Mentioned,Pray Mentioned,Donate Mentioned,Obama Mentioned,US Mentioned,Thoughts and Prayers,Is Retweet,Is Reply,Is Directed,Hashtags Used,Directed ats,Tweet Count
User ID,,,,,,,,,,,,,,,
6118,0.091338,0.309708,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,28.0,50,34.0,52.0,105
64743,0.149390,0.338032,3.0,0.0,0.0,2.0,0.0,1.0,0.0,4.0,17.0,23,12.0,27.0,67
82793,0.107796,0.405523,0.0,0.0,2.0,1.0,1.0,5.0,0.0,9.0,203.0,236,23.0,254.0,502
608703,0.157080,0.379523,1.0,0.0,0.0,0.0,0.0,2.0,0.0,75.0,94.0,221,122.0,273.0,314
677073,0.037798,0.366248,6.0,0.0,1.0,2.0,4.0,7.0,0.0,6.0,98.0,104,18.0,109.0,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101273811,0.176326,0.397676,2.0,0.0,3.0,2.0,0.0,5.0,0.0,7.0,602.0,617,63.0,629.0,920
102634808,0.256659,0.572533,0.0,4.0,4.0,0.0,0.0,1.0,0.0,62.0,517.0,614,48.0,775.0,674
103497121,0.249488,0.636456,1.0,0.0,0.0,0.0,0.0,5.0,0.0,5.0,770.0,804,41.0,827.0,854
103945034,0.121586,0.369733,0.0,0.0,0.0,0.0,0.0,2.0,0.0,8.0,694.0,735,6.0,800.0,885
103963387,0.164525,0.387636,6.0,0.0,1.0,0.0,0.0,4.0,0.0,101.0,402.0,513,93.0,601.0,967

In [57]:
all_user_data.to_csv("Data/user_data.csv")